.profile-menu-container {
  > div > button {
    &:hover,
    &:focus {
      background: none;
    }
    > span {
      > span > svg {
        -webkit-transition: -webkit-transform 0.4s ease-in-out;
        -ms-transition: -ms-transform 0.4s ease-in-out;
        transition: transform 0.4s ease-in-out;
      }
      padding: 0.5rem 1rem 0.5rem 1.2rem;
      background: #1890ff;
      color: #fff;
      font-weight: 600;
      border-top-right-radius: 1rem;
      border-bottom-right-radius: 1rem;
    }
  }
  cursor: pointer;
}
.avatar {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  background-color: #fff;
  color: grey;
  margin-right: -0.8rem;
  position: relative;
  top: -2px;
  z-index: 1;
}

.rotate {
  > span > svg {
    transform: rotate(180deg);
  }
}

.menu {
  border-radius: 0.5rem;
  padding: 0.5rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.menu-item {
  &:hover {
    background: none;
  }
  > a {
    color: #001529;
    &:hover {
      color: #43b6fa;
    }
  }
  > span > svg {
    font-size: 0.9rem;
  }
}

.logout {
  color: #f9704f;
  &:hover {
    color: #ef4f4f;
  }
}

.caret {
  margin-left: 0.3rem;
  vertical-align: middle;
}
